.background {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.btn:hover {
    background-color: purple !important;
    border-color: purple !important;
}

h1 {
    margin-top: 2rem !important;
    text-align: center;
}

.form-control {
    background-color: rgba(199, 171, 199, 0.219) !important;
}